.filterTab {
	max-width: var(--desktop-width);
	position: relative;
	margin-bottom: 1rem;
	min-height: 4.3rem;
	transition: opacity 300ms linear;
}

.filterTab--show {
	opacity: 1;
}

.filterTab--hide {
	opacity: 0;
}

.filterTab__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 1rem;
}

.filterTab__tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.8rem;
}

.filterTab__clear {
	cursor: pointer;
	font-weight: 600;
	color: var(--DarkGrayishCyan);
}

.filterTab__clear:hover {
	color: var(--DarkCyan);
	text-decoration: underline;
}
