.job {
  position: relative;
}

.job--featured {
  border-left: 0.4rem solid var(--DarkCyan);
  border-radius: 0.7rem;
}

.job__container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.job__logo {
  width: 88px;
  height: 88px;
}

.job__description {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.job__tags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.job__enterprise {
  color: var(--DarkCyan);
  font-size: 0.9rem;
}

.job__chip {
  padding: 0 0.4rem;
  border-radius: 0.9rem;
  font-weight: 600;
  text-align: center;
  font-size: 0.6rem;
  color: white;
  line-height: 23px;
}

.job__chip--new {
  background-color: var(--DarkCyan);
}
.job__chip--featured {
  background-color: var(--VeryDarkGrayishCyan);
}

.job__title {
  color: var(--VeryDarkGrayishCyan);
  font-size: 1.1rem;
  cursor: pointer;
}

.job__title:hover {
  color: var(--DarkCyan);
}

.job__info {
  color: var(--DarkGrayishCyan);
  font-size: 0.9rem;
}

.job__filterTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-left: auto;
  max-width: 50%;
}

@media only screen and (max-width: 580px) {
  .job__container {
    flex-direction: column;
    gap: 2rem;
  }

  .job__logo {
    position: absolute;
    left: 1.3rem;
    top: -22px;
    width: 44px;
    height: 44px;
  }

  .job__description {
    margin-top: 1rem;
    border-bottom: 1px solid var(--VeryDarkGrayishCyan);
    padding-bottom: 1rem;
    width: 100%;
  }

  .job__filterTags {
    margin-left: 0;
    max-width: unset;
  }
}
